@{
    ViewData["Title"] = "Jardim Virtual";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao @ViewData["Title"]</h1>
    <img src="https://project78343images.blob.core.windows.net/productsimages/jardim.jpg" width="800px"/>
</div>
