@model App.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea cols="40" rows="5" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="PostId" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="submit" value="Salvar" class="btn btn-primary mt-3" />
                <a class="btn btn-info mt-3" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}