@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso Negado!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem acesso a este recurso! Faça login como Administrador.</p>

    <hr />
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Página inicial</a>
</header>
